# API keys/Tokens
CLIENT_TOKEN='DISCORD_BOT_TOKEN'
OPENAI_API_KEY='OPENAI_API_KEY'

# Bot Admin Users Discord ID that don't have moderating or admin permissions in Discord. No need to put if user already has permissions. Seperate by comma.
# Eg: ADMIN_ID='ID1,ID2'
ADMIN_ID="IDs"

# Bot messages
DISABLED_MSG="Sorry, I am disabled."
COMMAND_PERM_MSG="Sorry, you don't have the permissions to use that command."
ENABLE_MSG="I am enabled."
DISABLE_MSG="I am disabled"
RESET_MSG="I have been reset"
DISABLED_MSG="Sorry, I am disabled."
COMMAND_PERM_MSG="Sorry, you don't have the permissions to use that command."
ENABLE_MSG="I am enabled."
DISABLE_MSG="I am disabled"
# Bot message for full reset
RESET_MSG="I have been reset"
# Bot message for single personality reset. USE "<p>" AS A PLACEHOLDER FOR THE PERSONALITY NAME
DYNAMIC_RESET_MSG="<p> has been reset."
# Bot message when "!reset" is used incorrectly
RESET_ERROR_MSG='Invalid usage. Use "!reset all" or "!reset <personality_name>"'
# Bot message when "!personality" is used.
PERSONALITY_MSG='Available Personalities:'

# Extra Bot Configuration
# Case/Capitalization mode. Leave blank for default, "upper" for uppercase responses, and "lower" for lowercase responses
CASE_MODE=""
# Whether or not bot should use Discord replies for messages. "true" or "false"
REPLY_MODE="true"

# Personalities
# Add as many personalities as you want.
# Syntax: personality.NAME="Personality Prompt."
# Eg: personality.assistant="You are a helpful assistant."
